<html>
    <head>
        <title>Editing image</title>

        <script>const config = { PAGE_ID: "{{ monitor_id }}" };</script>
        <script src="/static/scripts/edit.js"></script>
    
        <link rel="stylesheet" href="/static/styles/styles.css" />
    </head>
    <body>
        <h1>Editing image {{ monitor_id }}</h1>
        <span id="editing_space">
            <img id="editing_image" />
        </span>
    </body>
</html>