<html>
    <head>
        <title>Editing image</title>

        <script>const config = { PAGE_ID: "{{ monitor_id }}" };</script>
        <script src="/static/scripts/edit.js"></script>
    
        <link rel="stylesheet" href="/static/styles/styles.css" />
    </head>
    <body>
        <h1>Editing image {{ monitor_id }}</h1>
        <span id="editing_space">
            <img id="editing_image" />
            <form id="edit_form" onsubmit="upload()">
                <h3>Text values:</h3>
                <span id="text_editors"></span>

                <br />

                <h3>Images:</h3>
                <span id="image_editors"></span>
                
                <br />
                <input type="submit" value="Upload changes" />
            </form>

        </span>
    </body>
</html>